*{
	font-family: 'PT Sans', sans-serif;
}

.dateinput{
	padding:5px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
}

.sdiv{
	border-bottom-style:solid;
	border-bottom-width: 1px;
}

#adddate{
	padding:;
}

#sidebar{
	position: fixed;
    width: 30%;
    overflow-y: scroll;
    top: 0;
    left:70%;
    bottom: 0;
    border-left-style: solid;
    border-left-width: 1px;
}

#main{
	width: 70%;
}

#newstext{
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	width: 60%;
	height: 15%;
	padding: 10px;
}

#newsinput{
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	padding: 20px;
	width:90%;
}
